nav{
  background-color: #808080;
}

a{
  background-color: #ffbf00;
  color: white;
  text-decoration: none;
  padding: 35px;
  display: block;
  float: left;
}

a:hover{
  background-color: #ee5f3c;
}

h1{
	  color: rgb(2, 132, 130);
}

h2{
  	color: #ffd700;
}

h1, h2, p, footer{
  text-align: center;
}

.clearfix:after{
  visibility: hidden;
  display: block;
  content: " ";
  clear: both;
  height: 0;
  font-size: 0;
}

.board{
	  height: 50%;
  	width: 50%;
	  display: inline-block;
}

.card{
  float: left;
  height: 200px;
  width: 150px;
  border: 1px solid black;
  background-color: yellow;
  border-radius: 10px;
  margin: 8%;
  display: inline-block;
}

span{
  color: #ff0000;
}

footer{
  background-color: #808080;
}

